<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <style>
        nav+.container{
            margin-top: 50px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">비트교육센터</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/intro">Intro</a></li>
              <li><a href="/dept/">Dept</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
  
      <div class="container">
  
        <div class="starter-template">
          <h1>Intro page</h1>
          <p class="lead">인덱스페이지 아님.<br> 다른페이지입니다.</p>
        </div>
  
      </div><!-- /.container -->
</body>
</html>