<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>day45</display-name>
  <welcome-file-list>
    <welcome-file>ex01.html</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
  	<servlet-name>step01</servlet-name>
  	<url-pattern>/ex05.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ex02</servlet-name>
  	<url-pattern>/ex06.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ex04</servlet-name>
  	<url-pattern>/ex07.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>step01</servlet-name>
  	<servlet-class>com.bit.step01.Ex01Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ex02</servlet-name>
  	<servlet-class>com.bit.step03.Ex05Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ex04</servlet-name>
  	<servlet-class>com.bit.step02.Ex04Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ex06</servlet-name>
  	<servlet-class>com.bit.step03.Ex06Controller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ex06</servlet-name>
  	<url-pattern>/ex08.html</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>xml01</servlet-name>
  	<servlet-class>com.bit.ex.Xml01Controller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>xml01</servlet-name>
  	<url-pattern>/ex11.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>json01</servlet-name>
  	<url-pattern>/ex13.json</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>json01</servlet-name>
  	<servlet-class>com.bit.ex.JsonController</servlet-class>
  </servlet>
</web-app>







