<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <style>
        nav+.container{
            margin-top: 50px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">비트교육센터</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/intro">Intro</a></li>
              <li class="active"><a href="/dept/">Dept</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
  
      <div class="container">
  
        <div class="page-header">
          <h1>Insert Page <small>Add Dept</small></h1>
        </div>

        <form class="form-signin" action="./" method="post">
          <h2 class="form-signin-heading">Please sign in</h2>
          <label for="deptno" class="sr-only">deptno</label>
          <input type="text" name="deptno" id="deptno" class="form-control" placeholder="deptno" required autofocus>
          <label for="dname" class="sr-only">dname</label>
          <input type="text" name="dname" id="dname" class="form-control" placeholder="dname" required>
          <label for="loc" class="sr-only">loc</label>
          <input type="text" name="loc" id="loc" class="form-control" placeholder="loc" required>
          
          <button class="btn btn-lg btn-primary btn-block" type="submit">입력</button>
        </form>
  
      </div><!-- /.container -->
</body>
</html>