<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.bit.sts07.model.entity.DeptVo" alias="deptBean"/>
  	</typeAliases>
  	<mappers>
  		<mapper resource="mapper/dept-mapper.xml"/>
  	</mappers>
  </configuration>
  