<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>day48</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:mysql://localhost:3306/lecture</param-value>
  </context-param>
  <context-param>
  	<param-name>password</param-name>
  		<param-value>tiger</param-value>
  </context-param>
  <context-param>
  	<param-name>user</param-name>
  		<param-value>scott</param-value>
  </context-param>
  <servlet>
  	<servlet-name>list</servlet-name>
  	<servlet-class>com.bit.controller.ListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>add</servlet-name>
  	<servlet-class>com.bit.controller.AddController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>detail</servlet-name>
  	<servlet-class>com.bit.controller.OneController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>edit</servlet-name>
  	<servlet-class>com.bit.controller.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>edit</servlet-name>
  	<url-pattern>/api/edit.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>detail</servlet-name>
  	<url-pattern>/api/dept.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>add</servlet-name>
  	<url-pattern>/api/add.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>list</servlet-name>
  	<url-pattern>/api/depts.json</url-pattern>
  </servlet-mapping>
</web-app>